<%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">

      <% @status.errors.full_messages.each do |message| %>
          <h3>Error: <%= message %></h3>
      <% end %>
  
    </div>
  <% end %>
<% end %>
