<h1 class="page-header text-center">ScoreBoard</h1>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<thead>
				<tr>
				  <th class="col-md-1">#</th>
				  <th class="col-md-2">Summoner</th>
				  <th class="col-md-6 text-center">Progress</th>
				  <th>Local Restaurant</th>
				</tr>
			</thead>
			<tbody>
				<% p = 1 %>
				<% @achievements.each do |x| %>
					<% number = x[0].experience_earned/x[0].experience_req %>
					<% achievement_progress = (number.round(2)*100).round(0) %>
					<tr>
					  <td><%= p %></td>
					  <td><%= x[0].ignindex.summoner_name %></td>
					  <td>
				  	<div class="col-md-12">
					   <div class="progress">
					      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= achievement_progress %>%; min-width: 2em;" >
					        <%= achievement_progress %>%
					      </div>
					    </div>  
				  	</div>
					  </td>
						<% if x[0].kind == 1 or x[0].kind == 2 %>
							<td>Cora Pizza</td>
						<% else %>
							<td></td>
						<% end %>
					</tr>
					<% p = p += 1 %> 
				<% end %>   
			</tbody>
		</table>
	</div>
</div>