<div class="setup-background-2">
	<h1 class="text-center" style="color:white;" >Featured Local Restaurant</h1>
</div>

<div class="container">

	<div class="row" style="">
		<h1 class="text-left">Cora Pizza in Toronto</h1>
	</div>


	<div class="row">
		<div class="col-md-6">
	      <h4>Cora Pizza is currently offering Weekly Challenges to these areas in Toronto: M6G, M6J, M5R, M5S, M5T, M5G</h4><br/>
	      <h4>
	        Cora Pizza loves gamers, and will be experimenting with rewarding your League of Legends games with pizza. Starting June 15th Cora Pizza will be rewarding your in-game acheivements with pizza.
	      </h4>
	    </br>
	      <h4>
	        Since 1984, Cora Pizza's family-owned business has been satisfying Toronto appetites. Located Downtown Toronto, Cora Pizza offers gourmet specialty pizzas that are guaranteed to please your taste buds! 
	      </h4>
	      <div class="text-center">
	      <%= link_to "Learn More", current_achievement_url, :class=>"btn btn-lprimary", :style=>"color:white;" %>
	      </div>
		</div>
	    <div class="col-md-6">
	      <a href="http://www.corapizza.com">
	        <%= image_tag("cora1.jpg", class: "brand-banner", size: "500x225") %>    
	      </a>
	     <div class="text-center" style="margin-top: 40px">
	        <h4>656A Spadina Av</h4>
	        <h4>Toronto, ON M5S 2H7</h4>
	        <h4>(416) 922-1188</h4>
	        <h4>www.corapizza.com</h4>
	      </div>
	    </div>
	</div>
</div>