<div class="container-fluid" style="margin-top:0px;">

  <div class="row">
      <h1>3) Add Summoner Name & Rename 1st Mastery Page</h1>

    <div class="col-md-6 col-md-offset-0">

      <h3 id="summoner_name_text" class="">

            <span id="js_name">
              Hide on bush
            </span>
            <span id="js_val" class="not-validated">
               - Not Valid
            </span>    

      </h3>
          

      <div id="summoner_panel" class="panel panel-danger">

        <div class="panel-heading">
      
          <div class="text-center">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" id="input_teaser_summoner" placeholder="Hide on Bush" class="form-control input-md"></input>
                   <span class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">North America</a></li>
                      </ul>
                    </span>            
          
                    <div id="" class="btn btn-large btn-primary">Update Summoner Name</div>

              </div>
            </div>
          </div>        
        </div>


        <div id="summoner_valid_panel" class="panel-body">
          <div id="ign_hide_1" class="row">
            <div>

              <div id="validation_code_div" class="col-md-7 col-md-offset-0">
                  <div class="well">   
                    <h5>Should be: <strong id="">pizza-abc</strong></h5>
                      <h5 id="">Currently is: 
                        <strong id="">mid-AP</strong>
                      </h5>
                    <h5>
                      Expires in:
                        <span id="test_cd" data-timer="<%= @ignindex.validation_timer %>">5m
                        </span>
                    </h5>
                    <h6>(next check in ~
                      <span id="check_loop" data-check="">
                        30
                      </span> seconds)
                    </h6>      
                  </div>                
              </div>

              <div class="col-md-4">

                <div id="button-gen-val-code" class="gen-button">
                   <div id="" class="btn btn-large btn-lprimary">Generate Validation Code</div>
                </div>                
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>

   		<div id="how_to_going" class="col-md-6 lwell col-md-offset-0 " style="margin-top: 20px;margin-bottom: 0px;">      
      
	    <h3 class="text-center" style="margin-top: 0px;">Rename 1st mastery page and wait 1-2 min</h3>
	      <div class="col-md-5" style="margin-top: 0px;">
	        <h4 class="text-center" style="margin-top:0px"><u>Currently</u></h4>
	        <h3 class="text-center" id="mastery_page_name_intro" style="font-weight: bold;">midAP</h3>
	        <%= image_tag("mastery_question2.jpg", size: "200x266") %>
	      </div>
	     
	      <div class="col-md-1">
	        <h1>></h1>
	        <h1 style="margin-top: 100px;">></h1>
	      </div>
	     
	      <div class="col-md-5" style="margin-top: 0px;">
	        <h4 class="text-center" style="margin-top:0px"><u>Should be</u></h4>

	        <h3 class="text-center" id="" style="font-weight: bold;">pizza-abc</h3>

	        <%= image_tag("mastery_pizza-abc2.jpg", size: "200x266") %>
	      </div>

	    </div>    
 
    
  </div>

</div>