<div class="row">
	<div class="col-md-6">
		<h1>2) Pick a Challenge for (M5R)</span></h1>
			<div class="well prize-well " >
				<h3 style="margin-top: 0px;">Cora Pizza Challenge</h3>
				
				<div class="row">
					<div class="col-md-6">
						<%= image_tag("cora1.jpg", class: "brand-banner",size: "250x112") %> 
					</div>
					<div class="col-md-6 text-center" style="">
						<div id="" class="btn btn-lg btn-lprimary s2-chal">Select</div>
					</div>
				</div>
			</div>		
	</div>

	<div class="col-md-6" style="margin-top: 70px;">
			<div class="well">
				<h3 style="margin-top: 0px;">Cora Pizza Challenge</h3>
		        <h5>
		          Earn 10 experience points
		          <ul>
		            <li>1exp per win</li>
		            <li>2exp per win with champions whose name starts with any letter from "CORA" (e.g. <strong>C</strong>orki, <strong>O</strong>laf, <strong>R</strong>yze, <strong>A</strong>she)</li>
		          </ul>
		        </h5>
		        Prizes
	        	<ol>
		        	<li>Random Pizza prize (up to a Free Pizza) awarded Sundays @ 5pm</li>
			        <ul>
			        	<li>Complet challenge during the week</li>
			        </ul>
		        	<li>Chance to win a Free Slice</li>
		        	<ul>
			        	<li>Every win</li>
		        	</ul>
	        	</ol>
	        (<a href="/current_achievement">learn more</a>)
			</div>			
	</div>
</div>