<section id="register_page">
  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <div class="well leaderbox" style="margin-top: 25px;">
        <div class="">
          <div clas="col-md-12">
            <h2 class="text-center" style="margin-top: 0px;">Contact</h2>

              <h4 style=""><strong>News and Updates</strong></h4>
                <h4>Follow us on <a href="https://www.facebook.com/pages/illBePro/398138583682058">Facebook</a> or <a href="https://twitter.com/illBeProRewards">Twitter</a> to or keep up to date with the latest! </h4>


              <h4 style="margin-top:25px"><strong>Partnerships & Press Inquiries</strong></h4>
                <h4>If you are interested in partnering with illBePro or would like more information about our program, please email <u>aklotz@tangiblegameworks.com</u></h4>

             <div class="text-center" style="margin-top:25px">
              <a class="fa fa-facebook fa-4x social-facebook " href="https://www.facebook.com/pages/illBePro/398138583682058" style="color:white"></a>

              <a class="fa fa-twitter fa-4x social-twitter" href="#" style="color:white"></a>
             </div>




          </div>

        </div>
      </div>
    </div>
  </div>
</section>