<div class="row">
  <div class="col-md-10 col-md-offset-1" style="">

    <div class="row">
      <div class="col-md-4 text-center" style="margin-top:40px;">
        <%= image_tag("kayle.jpg", size: "240x150") %>
      </div>
      <div class="col-md-8 col-md-offset-0" style="">
      <h2>Partnerships & Press Inquiries</h2>
        <h4>If you are interested in partnerting with illBePro or would like more information about our program, please email <u>aklotz@tangiblegameworks.com</u></h4>
      
      <h2>Support</h2>
        <h4>For questions, technical issues, or bugs email <u>aklotz@tangiblegameworks.com</u>. You can also browse our <a href="/faq">Frequently Asked Questions</a> for quick answers</h4>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-0" style="">
      <h2>News and Updates</h2>
        <h4>Follow us on <a href="https://www.facebook.com/pages/illBePro/398138583682058">Facebook</a> or <a href="https://twitter.com/illBeProRewards">Twitter</a> to keep up to date with the latest!</h4>


      <h2>Have feedback? Get in touch with a founder</h2>
          <ul>
            <li><h4><a href="https://twitter.com/KlotzAndrew">Twitter</a></h4></li>
            <li><h4>Reddit: BoxStripe</h4></li>
            <li><h4>League: BoxStripe</h4></li>
            <li><h4>aklotz@tangiblegameworks.com</h4></li>
          </ul>
      </div>
    </div>

 </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>