<h1 class="page-header">
	Some information about Cora Pizza
</h1>

<ul>
	<li>render current achievement</li>
	<li>Basic info + maybe a map of where it is (right next to UofT)</li>
	<li>Should definetly include a promo blurb, on how they are ahead of the curve when it comes to video games</li>
</ul>


      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Value</th>
            <th>Chance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Tier 1</th>
            <td>$1</td>
            <td>25%</td>
          </tr>
          <tr>
            <th scope="row">Tier 2</th>
            <td>$2</td>
            <td>25%</td>
          </tr>
          <tr>
            <th scope="row">Tier 3</th>
            <td>$5</td>
            <td>25%</td>
          </tr>
          <tr>
            <th scope="row">Tier 4</th>
            <td>$20</td>
            <td>25%</td>
          </tr>             
        </tbody>
      </table>