
<div class="row">
	<div class="col-md-8 col-md-offset-1">
	
		<h2>Prizes</h2>

		<h4><strong>Can I actually win a pizza and RP?</strong></h4>
		<ul>
			Yes! illBePro is currenly loaded with 2-types of prizes
			<ul>
				<li>$20 Domino's gift codes are currently available for all players in the US. </li>
				<li>$10 RP codes are avialable for all players on the NA server.</li>
			</ul>
		</ul>
	
		<h4><strong>How do the prizes get delivered?</strong></h4>
		<ul>
			illBePro is currently using reward codes. As soon as you win a prized game, the reward code will appear on  screen.
		</ul>

		<h4><strong>Why location based rewards?</strong></h4>
		<ul>
			Some prizes can only be delievered to specific areas. illBePro uses 'Prize Zones' to help get you prizes that be physically put in your hands
		</ul>		

		<h4><strong>Is it free to use?</strong></h4>
		<ul>
			Yes! Open to everyone who plays ranked.
		</ul>		

		<h4><strong>What are my odds of winning something?</strong></h4>
		<ul>
			5% per game. No limit on the number of games you play.
		</ul>	
		
		<h4><strong>How do I know what prizes are available</strong></h4>
		<ul>
			When you enter a postal code, you can see what is available for that area.
		</ul>	
		
		<h4><strong>Can illBePro auto-order and have pizza jsut show up at my door?</strong></h4>
		<ul>
			Yes! But illBePro is not ready to handle address information right now.
		</ul>

		<h4><strong>Will this run all the time?</strong></h4>
		<ul>
			This is a pilot test, if it goes well there will be more
		</ul>

		<h4><strong>This sounds too good too be true, is it?</strong></h4>
		<ul>
			This is the beta version! The project only goes on if the pilot goes well, otherwise we just gave away pizza and RP for a good story about starting a website.
		</ul>

		<h4><strong>Will you be adding more regions?</strong></h4>
		<ul>
			Not right now. We do not have the resources for prizes in multiple regions.
		</ul>

		<h4><strong>Is my League account safe?</strong></h4>
		<ul>
			Yes. illBePro only needs your summoner name. Never give out your League account username and password (the credentials used to log into the League client)
		</ul>

		<h4><strong>Why does my summoner name need to be verified?</strong></h4>
		<ul>
			So we know it is actually you - not 'TSM WildTurtle' pretending to be you.
		</ul>
	

	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>