
<div class="row">
	<div class="col-md-8 col-md-offset-1">
	
		<h2>FAQ</h2>

		<h4><strong>OMG is this real?</strong></h4>
		<ul>
			Yes! Currently running the first beta test with <a href="/current_achievement">Cora Pizza</a> in Downtown Toronto. Go check them out, they have awesome pizza and want you to know it.
		</ul>

		<h4><strong>Can I actually win a pizza?</strong></h4>
		<ul>
			Yes! illBePro is currently loaded with reward codes up to $20 in value. That gets you a free pizza including delivery :)
		</ul>
	
		<h4><strong>How do get the prizes?</strong></h4>
		<ul>
			As soon as you win a prize, your reward code will appear on screen. Call or walk to Cora Pizza to use it.
		</ul>

		<h4><strong>How often can I win?</strong></h4>
		<ul>
			Achievements run weekly, and are reset when prizes go out. You can win every week + random prizes.
		</ul>		

		<h4><strong>Why location based rewards?</strong></h4>
		<ul>
			Some prizes can only be delivered to specific areas. illBePro uses 'Prize Zones' to help get you prizes that be physically put in your hands.
		</ul>		

		<h4><strong>Is it free to use?</strong></h4>
		<ul>
			Yes! Open to everyone who plays ranked.
		</ul>		

		<h4><strong>Am I guaranteed to win something?</strong></h4>
		<ul>
			Complete the achievement and you will! There is also a random chance per game.
		</ul>	
		
		<h4><strong>How will I know if you run out of prizes?</strong></h4>
		<ul>
			A very visible warning will appear on your achievement page if we run out of prizes
		</ul>	
		
		<h4><strong>Can illBePro auto-order and have pizza just show up at my door?</strong></h4>
		<ul>
			Yes! But illBePro is not ready to handle address information right now.
		</ul>

		<h4><strong>Will this run all the time?</strong></h4>
		<ul>
			This is a pilot test, if it goes well there will be more
		</ul>

		<h4><strong>Will you be adding more regions and prize zones?</strong></h4>
		<ul>
			Eventually!
		</ul>

		<h4><strong>Is my League account safe?</strong></h4>
		<ul>
			Yes. illBePro only needs your summoner name. Never give out your League account username and password (the credentials used to log into the League client)
		</ul>

		<h4><strong>Why does my summoner name need to be verified?</strong></h4>
		<ul>
			So we know it is actually you - not 'Faker' pretending to be you.
		</ul>
	

	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>