<h1 class="text-center first-box">
	<strong>Win a Pizza and RP for playing League of Legends!</strong>
	<h4 class="text-center ">
		55% chance to get prized in your first 10 games
	</h4>
</h1>
      
<div class="row">
	<div class="teaser-context">
	  <div class="row">
	    <div class="col-md-12">
	    	<div class="text-center">
		    	<% if user_signed_in? %>
			    	<%= button_to "Get Started Now", challenges_path, :class => "btn btn-lprimary", :method => :get  %>
		    	<% else %>
			    	<%= button_to "Get Started Now", new_user_registration_path, :class => "btn btn-lprimary home-button", :method => :get  %>
		    	<% end %>
	    	</div>
	    </div>
	</div>
</div>


<div class="row first-box">
	<div class="col-md-6">
	    <ul>
	      	<h4  class="text-center"><strong>How it works</strong></h4>
	      	<li><h5>Add a prize chance to each of your games</h5></li>
	      	<li><h5>Win a Prized game to earn the prize</h5></li>
	      	<li><h5>Play a non-Prized game and increase your future chances (like nasus stacks)</h5></li>
	    </ul>
	</div>

	<div class="col-md-6">
		<ul class="teaser-context">
	      	<h4 class="text-center"><strong>Getting started is easy</strong></h4>
		        <li><h5>Add Summoner Name -> Choose Prize Zone -> Press 'Prize Me' -> Play</h5></li>
		       	<li><h5>Currently supports Ranked 5v5 Summoners Rift on the NA server</h5></li>
	    </ul>
	</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>