<h3 class="text-center"><strong>Win prizes for playing League of Legends!</strong></h3>
      
<div class="row">
	<div class="teaser-context">
	  <div class="row">
	    <div class="col-md-6">
	    <ul class="teaser-context">
	      	<h4><strong><u>Current prize - for highest points</u></strong></h4>
	        <li><h5>$10 RP prize to highest score by Sunday Dec. 7th @ 10:00pm</h5></li>
	    </ul>
		<ul class="teaser-context">
	      	<h4><strong><u>Still in beta!</u></strong></h4>
	        <li><h5>illBePro is still under development! If something is not working the way you think it should - let us know!</h5></li>
	        <li>If you have any suggestions get in touch!</li>
	    </ul>
	    </div>

	  <div class="col-md-6">
	    <div class="loader-image">
	        <%= image_tag("basic-gif.gif", :alt => "rss feed", height: '304', width: '516') %>
	    </div>
	  </div>
<div>

