<h3 class="text-center"><strong>Win a Pizza for playing League of Legends!</strong></h3>
      
<div class="row">
	<div class="teaser-context">
	  <div class="row">
	    <div class="col-md-6">
	    <ul>
	      	<h4><strong>The Solo Queue Challenge Website</strong></h4>
	      	<li><h5>illBePro tracks your Solo Queue games and gives you challenges</h5></li>
	        <li><h5>Highest score by Sunday Dec. 7th @ 5:00pm <strong>wins a pizza</strong></h5></li>

	        <h5><i>Check out the FAQ for pizza details</i></h5>

	    </ul>

		<ul class="teaser-context">
	      	<h4><strong>Getting started is easy</strong></h4>
		        <li><h5>Signup -> Add your Summoner Name -> Start Challenge</h5></li>
		       	<li><h5>Currently supports Ranked 5v5 Summoners Rift on the NA server</h5></li>
	    </ul>

		<ul class="teaser-context">
	      	<h4><strong>illBePro is running a pilot test</strong></h4>
	        <li><h5>We are still under development. If something is not working the way you think it should - let us know!</h5></li>
	    </ul>
	    </div>

	  <div class="col-md-6">
	    <div class="loader-image">
	        <%= image_tag("basic-gif.gif", :alt => "rss feed", height: '304', width: '516') %>
	    </div>
	  </div>
<div>

