<h1 class="text-center ">
	<strong>Welcome to i'llBePro</strong>
	<h4 class="text-center ">
		Win a free pizza by playing your favorite games through our portal <%= user_signed_in? %>
	</h4>
</h1>
      
<div class="row">
	<div class="teaser-context">
	  <div class="row">
	    <div class="col-md-12">
	    	<div class="text-center">
		    	<% if user_signed_in? %>
			    	<%= button_to "Play", challenges_path, :class => "btn btn-lprimary home-button", :method => :get  %>
		    	<% else %>
			    	<%= button_to "Play", new_ignindex_path, :class => "btn btn-lprimary home-button", :method => :get  %>
		    	<% end %>
	    	</div>
	    </div>
	</div>
</div>


<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="text-center first-box">Pizza companies give us free pizza to promote their brand. We do that by randomly awarding your games. Keep playing the games you love, and earn pizza.</h4>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>