<div class="container" style="min-height: 600px">
	  <h1 class="page-header">
	  	About Papa Johns
	  </h1>

	<div class="row">
	    <div class="col-md-12">
	      
		        <div class="col-md-6">
			        <h4>Papa John's is not an official sponsor of illBePro, but they do have prizes available.</h4><br/>
			        <h4>
			           Papa John's has public coupons that will be prized out through illBePro. Tweet @PapaJohns and let them know you want to see them put in bigger and better prizes!
			        </h4>
				      </br>
		        </div>


		    <div class="col-md-6 text-center">
		        <a href="http://www.corapizza.com">
		          <%= image_tag("papajohns3.jpg", size: "336x336", class: "brand-banner") %>  
		        </a>
		    </div>

	    </div>
	</div>

	  <h1 class="page=header">
	    About Papa Johns's Challenge
	  </h1>

	  <div class="row">
			<div class="col-md-8" style="margin-top:0px;">
				<div class="well">
				    <div class="row brand-banner" >

						<div class="col-md-6" style="padding-left: 0px;">
							<div class="">
								<div class="text-left">
								<%= image_tag("papajohns3.jpg", size: "225x225", class: "brand-banner") %> 
								</div>
							</div>  
						</div>

						<div class="col-md-6 col-md-offset-0" >
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<h1 class="text-center" style="margin-top: 15px;"> <strong><%= "25% off" %></strong> </h1>
									<h1 class="text-center" style="border: 1px dotted"><strong>Code: <%= "____" %></strong></h1>                 
									<h5 class="text-center"><strong><i>Delivery or Walk-in</i></strong></h5>                                                          
									<h5 class="text-center">Expires 1/1/2016.</h5>
								</div>                 
							</div>
						</div>

				    </div>          
				</div>	
			</div>
	  </div>


	    

	<h1 class="page=header">
	About Prizes & Delivery
	</h1>
	<div>
		<h4>Achievements run weekly! They are reset when prizes go out on Sunday. You can complete them every week.</h4>
		<h4>Prizes for achievements are awarded at 6:00pm Sunday, for players who have completed an achievement. Bonus prizes are awarded instantly. Prizes awarded will be emailed to the winner as well as appear under the 'history' tab on that users account. Each prize is a single-use reward code that can be used with purchase
		</h4>

		<h4>
		  There are a fixed number of prizes, a <span style="color:red;">RED</span> marker will appear on the achievement page when none are left. Winning prizes is subject to prize availability
		</h4>    
	</div>		
</div>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>