<div class="container">
	<h1>Privacy Policy</h1>

	<p>Last Modified on November 17, 2014</p>

	<p>Our Privacy Commitment</p>
	<p>Illbepro (“we,” “us” or “our”) is committed to respecting the privacy rights and concerns of all users.  We develop, operate and maintain software for gamers to create and manage competitions of skill in connection with online video games (“Client Games”) published by third parties (“Clients”).  As such, we have established and implemented this Privacy Policy to inform visitors to the Site and users of Illbepro Services of how we use and protect the information we collect through the Site, Illbepro Services, and Client Games.  By visiting or browsing the Site, using the Illbepro Services directly, or participating in Client Games that are using the Illbepro Services, you consent to Illbepro's collection, use, storage, deletion, transfer to the United States, and disclosure of personal information relating to you as set forth in this Privacy Policy.  This Privacy Policy is effective as of the date set forth above. </p>

	<p>To the extent that we collect information on behalf of Clients as part of your interaction with the Client Games, our use of such information is governed by such Client’s privacy policies in addition to this Privacy Policy.  As such, if you interact with a Client Game, you should review the Client’s privacy policy regarding how that Client uses the information it collects or that we collect on its behalf.</p>

	</p>This policy answers the following questions:</p>

	<p>What information do we collect about you and how do we use it?
	Will we share your personal information with third parties?
	What choices do you have about the collection and use of your personal information?
	What security measures do we take to safeguard your personal information?
	What Information Do We Collect About You and How Do We Use It?
	Types of Information We Collect</p>

	<p>Personal information means information that can be used to identify and contact you.  The Site and Illbepro Services may collect personal information from you including your email address, name, mailing address, phone number, geolocation, cookies, and in-game username.  We may also collect the same personal information from you for third parties as described below.</p>

	<p>Personal information is collected from you when you create an account on the Site; subscribe to our newsletter; participate in Site feedback, questionnaires, surveys, or contests; purchase a product through the Site; interact with Client Games; or receive customer or technical support.</p>

	<p>To create an account to use the Illbepro Services, we will require you to provide certain information to create your account, including your name, password, and email address. </p>

	<p>If you sign up for one of the Client Games that interact with social networking sites like Facebook or Twitter, we may also collect personally identifiable information from these social networking sites and database services on behalf of ourselves and our Clients, including the Facebook Groups that you belong to.</p>

	<p>How We Use Your Personal Information</p>

	<p>Newsletters.  Illbepro may use your email address or other personally identifiable information to send you commercial or marketing messages including, without limitation, newsletters, promotions, updates, special offers, and email communications about our products or services.  We will also use your email address to contact you regarding any customer or technical support issues.</p>

	<p>Payment Processing.  If you purchase goods or services through the Site, Illbepro may need for you to provide certain financial information so that Illbepro may effect a payment transaction.  As part of the payment system, Illbepro or third parties performing sales processing services on Illbepro's behalf, will collect, store and use non-public personally identifiable information, such as your name, address, credit card number, phone number, and your e-mail address.  In addition, the payment system will also collect information regarding the actual bill payment transaction, including the date and amount paid.  Illbepro will store and protect this information in the same manner that it stores and protects other personal information.   </p>

	<p>Account Login. The personal information you provide will allow you to log in to the Site, Client Game, and Illbepro Services. </p>

	<p>Clients.  We keep track of your interactions with us on behalf of our Clients, including but not limited to your activity within the Client Games and the Illbepro Services. We may use personal information that you provide to us to send messages to you in response to your request to perform an activity in connection with your use of any of the Client Games.  We may also use your personal information to contact you when necessary on behalf of our Clients.</p>

	<p/>De-Personalizing Your Information</p>

	<p>We may make your personal information non-personally identifiable by either combining it with information about other users (aggregating your personal information with information about other users), or by removing characteristics (such as your name or email address) that make the information personally identifiable.  This process is known as de-personalizing your information.  You grant us a royalty-free, worldwide, perpetual, irrevocable and fully transferable right and license to use your personal information in connection with the creation and development of analytical and statistical analysis tools relating to the use of the customer data we collect on the Site and Illbepro Services (the “Analytical Data”).  We are expressly authorized to make any commercial use of the Analytical Data, including without limitation, sharing the Analytical Data with third parties.</p>

	<p>Cookies and other Technical Information</p>

	<p>“Cookies” are small bits of electronic information that a website sends to a visitor’s browser and are stored on the visitor’s hard drive.  Like many websites, we employ cookies in certain areas of the Site to allow us to provide information to make your online experience more convenient and to enhance your experience with the Site.  For example, when you return to the Site after logging in, cookies provide information so that the Site will remember who you are on subsequent visits, speeding up or enhancing your experience of the Site by, for instance, tailoring content to you. Cookies also prevent items placed in a shopping basket from disappearing by the time you checkout.  Cookies are not spyware or adware, and can’t deliver viruses or run programs on your computer.  A user may configure his or her web browsers to accept or reject or delete the cookies, or notify the user when a cookie is being set. </p>

	<p>We may collect other technical information from users of the Site, including their IP address, browser type, domain names, access times, and geolocational information.</p>

	<p>Web Beacons</p>

	<p>We employ third party tracking utility software technology called clear gifs (a.k.a. Web Beacons/Web Bugs), that help us better manage content on our site by informing us what content is effective.  Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users.  In contrast to cookies, which are stored on a user’s computer hard drive, clear gifs are embedded invisibly on Web pages and are about the size of the period at the end of this sentence.  In short, clear gifs enable two websites to share information with one another.  We do not tie the information gathered by clear gifs to our customers’ personally identifiable information.</p>

	<p>Tracking Pixel</p>

	<p>A tracking “pixel” is a transparent graphic image (usually 1 pixel x 1 pixel) that is placed on a web page and allows for the collection of information regarding the use of the web page that contains the tracking pixel. The Company uses third party ad servers to support tracking pixels and cookies. </p>

	<p>Google Analytics</p>

	<p>Our Site uses Google Analytics to help us learn about who visits our site and what pages are being viewed. </p>

	<p>Social Media Features</p>

	<p>Our Site and certain Client Games interface with social media sites such as Facebook, Twitter, and others.  If you choose to log in to your account on the Site through those social media sites, then Illbepro may access your information on those sites and import, use, and share your “friends” list or contacts from those sites.  If you choose to “like” or share personal information through those services, you should review the privacy policy of that service.  Those social media sites may collect your IP address or set cookies.  If you are a member of a social media site, the interfaces may allow the social media site to connect and view your personally identifiable information.</p>

	<p>How We Share Your Personal Information With Third Parties.
	We will share the personal information we collect from you under the following circumstances:</p>

	<p>Clients. Your personal information will be shared with our Clients as part of the Client Games in administering your account(s), sending you messages about the Client Games, and other general announcements.  Your personal information will be subject to those Clients’ individual privacy policies.  Your in-game username, as well as other information you voluntarily submit as part of the Client Games and Illbepro Services, will be made publicly available to other users.
	Direct Marketing. We may share your personal information with other third parties in order to contact you to promote, market, or sell their products or services.
	Tournament Organizers.  When you participate in a tournament that uses Illbepro Services, Illbepro will share your personally identifiable information, including, but not limited to, your email address and in-game username, with the third party tournament organizer
	Protection of rights. We will share personal information if we have a good faith belief that (i) access, use, preservation or disclosure of such information is reasonably necessary to satisfy any applicable law, regulation, legal process, such as a court order or subpoena, or a request by law enforcement or governmental authorities, (ii) such action is necessary to detect, prevent, or otherwise address fraud, security or technical issues associated with the Site or Illbepro Services, or (iii) such action is appropriate to protect the rights, property or safety of the Company, its employees, clients, or users of the Site.
	Asset transfers. If we become involved in a merger, acquisition or other transaction involving the sale of some or all of the Company’s assets or a line of business, user information, including personal information collected from you through your use of the Site, Illbepro Services, and Client Games could be included in the transferred assets.  Should such an event occur, the Company will use reasonable means to notify you through a prominent notice on the Site.
	Service Providers. We may share your personal information with third party vendors or service providers that we engage for the purpose of fulfilling product orders or processing information on our and your behalf.  For example, we may partner with other companies to process payments for the Site.  Additionally, we may partner with other companies to process, analyze, and/or store data, including, but not limited to, Analytical Data. While providing services for us, these companies may access your personal information.  To the extent applicable, we require these entities to comply with this Privacy Policy and appropriate confidentiality and security measures.
	Additional Information You Should Know About Third Parties</p>

	<p>This Privacy Policy does not cover the information practices of third party websites linked to the Site, including those of our Clients and other providers of the Client Games.  Please be aware that we cannot control the activities of third parties to whom we provide data, and as such we cannot guarantee that they adhere to the same privacy and security procedures as the Company.</p>

	<p>Additionally, when you click on a third party logo or URL displayed on our Site which links you to a different website, our Privacy Policy no longer applies and you must read the privacy policy of the third party to see how your personal information will be handled on their website.  If you cannot find their privacy policy, then you should contact the respective webmasters of those websites to obtain information regarding their information collection, use and disclosure policies.  We are not responsible for their collection and use of your personal information.  </p>

	<p>What Choices Do You Have About the Collection and Use of Your Personal Information?
	When you provide us with personal information, you consent to our collecting, using, and sharing it in accordance with this Privacy Policy.  If we ask for your personal information for a secondary reason, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. </p>


	<p>Notification of Changes</p>
	<p>This Privacy Policy may change from time to time and we will post all changes on the Site.  You understand and agree that you will be deemed to have accepted the updated Privacy Policy if you use the Site or Illbepro Services after the updated Privacy Policy is posted on the Site.  If at any point you do not agree to any portion of the Privacy Policy then in effect, you must immediately stop using the Site and Illbepro Services.</p>

	<p>Terms of Use</p>
	<p>Each of the Client Games may be subject to their own terms of use governing the use of such Client Games.  You should read such terms of use before interacting with any of the Client Games.</p>
</div>