<h3 class="teaser-tag"><i>Teaser Page</i></h3>

<h4 class="text-center  ">Challenges are enabled for Solo/Duo NA Ranked 5v5 on Summoners Rift</h4>

<div class="new-challenge">

  <div class="row">
    <div class="col-md-6">
      <div class="well">

        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win the next game<h4>
            <h4>1<h4>
            <h4>65 Minutes<h4>
          </div>

          <div class="col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                  <button type="button" class="btn btn-lg btn-success">Start</button>
                
              </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>



    <div class="col-md-6">

      <div class="well">
        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win the next 2 games in a row<h4>
            <h4>4<h4>
            <h4>120 Minutes<h4>
          </div>

          <div class=".col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                	<button type="button" class="btn btn-warning">Locked</button>
                  
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  
  </div>
</div>

<div class="new-challenge">

  <div class="row">
    <div class="col-md-6">
      <div class="well">

        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win 3 games in a row<h4>
            <h4>9<h4>
            <h4>180 Minutes<h4>
          </div>

          <div class="col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                 <button type="button" class="btn btn-warning">Locked</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>