<h3 class="teaser-tag"><i>Teaser Page</i></h3>

<h4 class="text-center  ">Challenges are enabled for Solo/Duo NA Ranked 5v5 on Summoners Rift</h4>

<div class="new-challenge">

  <div class="row">
    <div class="col-md-6">
      <div class="well">

          <h4 class="text-center">Prizing by: <i>Your Favorite Brand</i></h4>

        <div class="form-actions">
          <div class="text-center">
            <div>
                <div class="new-challenge2">
                  <button type="button" class="btn btn-lg btn-success">Start</button>
                </div>
            </div>
          </div>
        </div>
        <h4 class="text-center">Play a ranked game<h4>
        <h5 class="text-center">Challenge Time Limit: 65 Minutes<h5>

      </div>
    </div>
    <div class="col-md-6">
      <ul>
        <li><h5>Each new challenge has a random % chance to be prized</h5></li>
        <li><h5>No limit of challenges you can play per day</h5></li>
        <li><h5><b>Non-Prized Challenges</b></h5></li>
        <ul>
          <li><h5>Playing games in the challenge (win or lose) increases your future prize chance cumulatively. Like Nasus stacks for prizing</h5></li> 
          <li><h5>Canceling without playing, reduces your prize chance</h5></li>
        </ul>
        <li><h5><b>Prized Challenges</b></h5></li>
        <ul>
          <li><h5>Win your next game within the time limit and get a one of the prizes</h5></li>
      </ul>
    </div>
  </div>

</div>


<div>
  <%= button_to "Back", challenges_path, :class => "btn btn-primary", :method => :get  %>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>