<h3 class="teaser-tag"><i>Teaser Page</i></h3>

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
       <h1><strong>Summoner:</strong> <i>TSM WildTurtle</i></h1>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="page-header">
        <h1 class="not-validated"><strong>Not validated!</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3>How do I add my summoner name?</h3>
      <ol>
        <li>Enter a summoner name and press <strong>Update Summoner Name</strong></li>
        <li>Press <strong>New validation code</strong></li>
        <li>Rename your 1st masteries page to match the validation code</li>
        <li>Make sure the name change saved (click anywhere, then back to the 1st mastery page)</li>
        <li>Wait for the page to say "Validated!" (usually 1-2 minutes)</li>
        <li>Afterwards, you can rename your mastery page</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="btn-group">

      	<div class="input-group">
      		<input type="text" class="form-control" placeholder="TSM WildTurtle">
      		 <span class="input-group-addon"><button type="button" class="btn btn-large btn-primary">Update Summoner Name</button></span>
      	</div>
      </div>
    </div>
  </div>
    
    <div class="col-md-2">
      <div class="gen-button">
        <div class="btn-group">
            <button type="button" class="btn btn-large btn-primary">New validation code</button>
        </div>
      </div>
    </div>
  <div>
    <div class="col-md-4">
       
      <div class="well">   
          <h5>Validation code: <strong>illBePro</strong></h5>
 
            <h5>Current 1st page: <strong>  ADC</strong></h5>

          <h4>Code valid for 5 more minutes!<h4>
          <h6>next check in ~55 seconds</h6>      
      </div>
     
    </div>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>