<div class="container-fluid absolute-margin">
		<h1>Choose Game</h1>
	<div class="col-md-8 col-md-offset-2">

		<%= button_to "League of Legends", summoner_path, :class => "btn btn-lg btn-primary", :method => :get  %>
        <div class="btn-group">
        	<div style="margin-top: 10px;" class="btn btn-lg btn-default">More Coming Soon...</div>
        </div>
	</div>

</div>