<div class="row">
	<div class="col-md-12 col-md-offset-0">
			<h3>Achievement available for: <strong><%= @region_postal %></strong></h3> 
	</div>
</div>

	<div class="col-md-6 text-left"> 
		<h4>
			Complete the achievement for each week to be eligible to roll on of the 4 types of prizes listed below

		</br>

		<table class="table">
		        <thead>
		          <tr>
		            <th></th>
		            <th>Prizes</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <th scope="row">1</th>
		            <td>Tier 1</td>
		          </tr>
		          <tr>
		            <th scope="row">2</th>
		            <td>Tier 2</td>
		          </tr>
		          <tr>
		            <th scope="row">3</th>
		            <td>Tier 3</td>
		          </tr>
		          <tr>
		            <th scope="row">4</th>
		            <td>Tier 4</td>
		          </tr>		          
		        </tbody>
		      </table>

		</br>
			In addition, for ach of the games you win along the way to completeing your weekly achievement, you get a chance tow in 1 of 15 $5 prizes instantly.
		</h4>
	</div>

	<div class="col-md-6" style="margin-top: 50px;">

		<%= image_tag("cora1.jpg", size: "480x300") %>                


	    <%= form_for @ignindex do |t| %>
	        <span id="">
	      <%= t.submit "Start playing", class: "btn btn-large btn-primary" %>
	        </span>
	    <% end %>

	</div>