<div class="container">
	<div class="well leaderbox" style="margin-top: 25px;">
		<div class="row">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-12 col-md-offset-0">
					<h1>2) Pick a Challenge in your area</h1>
					<h3 style="margin-top:0px;">
					Select from the challenges in (<%= @ignindex.postal_code %>)
					</h3>
				</div>
			</div>	

			<div class="row">
				<% @all_challenges[:local].each do |x| %>
					<%= render 'challenges_available', :x => x, :active => 1 %>		
				<% end %>
			</div>

			<div class="row">
				<% @all_challenges[:country].each do |x| %>
					<%= render 'challenges_available', :x => x, :active => 1 %>			
				<% end %>
			</div>
			
			<div class="row">
				<% @all_challenges[:global].each do |x| %>
					<%= render 'challenges_available', :x => x, :active => 1 %>			
				<% end %>
			</div>					
		</div>
	</div>
</div>