<section id="top">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="margin-top:25px">
				<div class="well leaderbox">
					<h3 style="margin:0px">Current Summoner Name: <strong><%= @ignindex.summoner_name %></strong></h3>
				</div>
			</div>
		</div>

		<%= render 'ignindices/step3' %>
	</div>
</section>