<div class="row">
	<div class="col-md-8 col-md-offset-2" >
	<h2>About</h2>
	
 		<div>
 			<p class="text-left">illBePro lets you win rewards for playing League. It is a free to use challenge system that issues you challenges, then checks if you completed them!
 		</div>

	<h3>Are you associated with Riot?</h3>
 		<div>
  			<p class="text-left">illbepro is not endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. </p>
  		</div>
  	
	</div>
</div>