<h2>Best ways to get in touch are twitter and facebook:</h2>
<ul>
	<li><p>@KlotzAndrew</p></li>
	<li><p>facebook.com/andrew.klotz.9</p></li>
</ul

<p>Any suggestions, comments, bugs, issues - shoot me a message. Or just to say "Hi"!</p>

