<h3>Interested in sponsoring a prize?</h3>
<ul>
  <li>aklotz@tangiblegameworks.com</li>
</ul>

<div class="row">

  <div class="col-md-6">
    <h3>Follow us for news and updates</h3>
      <ul>
        <li><a href="https://twitter.com/illBeProRewards">Twitter</a></li>
        <li><a href="https://www.facebook.com/pages/illBePro/398138583682058">Facebook</a></li>
      </ul>
  </div>

  <div class="col-md-6">
    <h3>Say "HI" to a founder on social media?</h3>
    <ul>
      <li><a href="https://twitter.com/KlotzAndrew">Twitter</a></li>
      <li>Reddit: BoxStripe (<a href="http://redd.it/2o1ft3">http://redd.it/2o1ft3</a>)</li>
      <li>League: BoxStripe</li>
    </ul>
  </div>

</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>