
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>FAQ</h2>
		<div>
			<h5><strong>Do I win something?</strong></h5>
			<ul>
				Yup. $10 RP prize to whoever has the highest points on Dec. 7th 10:00pm, sent to you email
			</ul>
		</div>

		<div>
			<h5><strong>Will this run every week?</strong></h5>
			<ul>
				Maybe! It's running prize-prize while under development - stay tuned
			</ul>
		</div>

		<div>
			<h5><strong>What game modes count?</strong></h5>
			<ul>
				Only tracks Ranked 5v5 on Summoners Rift
			</ul>
		</div>

		<div>
			<h5><strong>What servers count?</strong></h5>
			<ul>
				Only North America (NA)
			</ul>
		</div>

		<div>
			<h5><strong>Will you be adding more regions?</strong></h5>
			<ul>
				Maybe! Looking into supporting a few more (EUW?), but the current RP prizes are only redeemable on NA
			</ul>
		</div>

		<div>
			<h5><strong>Is my League account safe?</strong></h5>
			<ul>
				Yup. illBePro only needs your summoner name! NEVER give out your League account username and password (the credentials used to log into the League client)
			</ul>
		</div>

		<div>
			<h5><strong>Why does my summoner name need to be verified?</strong></h5>
			<ul>
				Because "TMS Wildturle" is not actually 6 people using illBePro at the same time
			</ul>
		</div>

		<div>
			<h5><strong>What happens if the validation timer runs out?</strong></h5>
			<ul>
				Generate a new code and try again, remember to make sure the name change saved!
			</ul>
		</div>

		<div>
			<h5><strong>Something isn't working/loading?</strong></h5>
			<ul>
				Try refreshing, then get in touch ASAP! There may still be a few bugs
			</ul>
		</div>
		<div>
			<h5><strong>.</strong></h5>
			<ul>
				 .
			</ul>
		</div>
	</div>
</div>