<h1>FAQ</h1>

<div>
	<h4>Do I win something?</h4>
	<ul>
		<li>$10 RP giveaway to whoever has the highest points on Thursday (the 20th), the code will be sent to your email</li>
	</ul>
<div>


<div>
	<h4>Are you going to use my email for anything?</h4>
	<ul>
		<li>Nope</li>
	</ul>
<div>

<div>
	<h4>Why does my summoner name need to be verified?</h4>
	<ul>
		<li>To know its actaully your account</li>
	</ul>
<div>

<div>
	<h4>What happens if the validation timer runs out?</h4>
	<ul>
		<li>Just generate a new code and try again</li>
	</ul>
<div>

<div>
	<h4>Something isn't working/loading?</h4>
	<ul>
		<li>Try refreshing, then let me know ASAP! There may still be a few bugs</li>
	</ul>
<div>

<div>
      <h4>Can you show me that registration gif again?</h4>
      <div class="loader-image">
        <%= image_tag("basic-gif.gif", :alt => "rss feed", height: '358', width: '607') %>
      <div>
<div>