<h1>FAQ</h1>
<div>
	<h4>Can I change my validation code?</h4>
	<ul>
		<li>Yup! Just press the generate button again (your old one will no longer be valid)</li>
	</ul>
<div>

<div>
	<h4>Why does my summoner name need to be verified?</h4>
	<ul>
		<li>So we know that summoner is actually you!</li>
	</ul>
<div>

<div>
	<h4>What happens if the validation timer runs out?</h4>
	<ul>
		<li>Just generate a new code and try again</li>
	</ul>
<div>

<div>
	<h4>Something isn't working/loading?</h4>
	<ul>
		<li>Try refreshing, then let me know ASAP! There may still be a few bugs</li>
	</ul>
<div>