<h1>FAQ</h1>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div>
			<h4><strong>Do I win something?</strong></h4>
			<ul>
				Yup. $10 RP prize to whoever has the highest points on Thursday (the 27th), sent to you email
			</ul>
		</div>

		<div>
			<h4><strong>Will this run every week?</strong></h4>
			<ul>
				Maybe! It's running prize-prize while under development - stay tuned
			</ul>
		</div>

		<div>
			<h4><strong>Does this work for all game modes?</strong></h4>
			<ul>
				Nope. illBePro only tracks Ranked 5v5 on Summoners Rift
			</ul>
		</div>

		<div>
			<h4><strong>Is my League account safe?</strong></h4>
			<ul>
				Yup. illBePro only needs your summoner name! NEVER give out your League account name/password (the credentials used to log into the League client). 
			</ul>
		</div>

		<div>
			<h4><strong>Why does my summoner name need to be verified?</strong></h4>
			<ul>
				To know its actaully your account
			</ul>
		</div>

		<div>
			<h4><strong>What happens if the validation timer runs out?</strong></h4>
			<ul>
				Generate a new code and try again, remember to make sure the name change saved!
			</ul>
		</div>

		<div>
			<h4><strong>Something isn't working/loading?</strong></h4>
			<ul>
				Try refreshing, then get in touch ASAP! There may still be a few bugs
			</ul>
		</div>

		<div>
		      <h4><strong>Can you show me that registration gif again?</strong></h4>
		      <div class="loader-image">
		        <%= image_tag("basic-gif.gif", :alt => "rss feed", height: '358', width: '607') %>
		      </div>
		</div>
	</div>
</div>