        <h3 class="text-center"><strong>Add extra in-game challenges to League of Legends!</strong></h3>
        
        <div class="teaser-context">
          <div class="row">
            <div class="col-md-4">
              <ul class="prize-teaser">
                  <li><h4><strong>$10 RP giveaway on Thursday Nov.27th</strong></h4></li>
                  <ul>
            </div>

          <div class="col-md-8">
            <div class="loader-image">
                <%= image_tag("basic-gif.gif", :alt => "rss feed", height: '304', width: '516') %>
            </div>
          </div>