/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.check-email {
	padding-top: 10px;
}

body {
	padding-top: 50px;
}

.alert {
	margin-top: 10px;
}

.devise-border-form {
	padding-top: 35px;
	padding-bottom: 50px;
	max-width: 830px;
}

.devise-border-form input[type="text"],
.devise-border-form input[type="email"],
.devise-border-form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.devise-border-form  .form-signin-heading,
.devise-border-form  .checkbox {
  margin-bottom: 10px;
 }

 .loader-image {
 	padding-left: 0px;
 }

 .teaser-context {
 	padding-top: 10px;
 }

 .prize-teaser {
 	padding-top: 100px;
 }

 .custom-footer {
 	font-size: 12px;
 }

 .custom-footer2 {
 	font-size: 4px;
 	line-height: 50px;
 }

.teaser-tag {
	color: red;
}

.navbar .nav > li {
	display: inline-block;
	}