// Place all the styles related to the ignindices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ach-select-button {
	width: 500px;
	height: 50px;
}

.new-challenge2 {
	margin-top: 20px;
}

.body-object {
	padding-top: 30px;
}

.not-validated {
	color: red;
	
}

.validated {
	color: green;

}

.gen-button {
	margin-top: 40px;
}

.prize-well {
	border-left: 3px solid #f1693c;
	border-radius: 36px 0 0 36px;
}

.intro-square {
  text-align: left;
  margin-bottom: 15px;

/*  border: 3px solid #4CBCB5;*/
}

.intro-square2 {
  text-align: right;
  margin-bottom: 15px;

  border: 3px solid #4CBCB5;
  border-radius: 100%;
}


.intro-diamond {
  text-align: left;
  margin-bottom: 15px;
/*
  border: 3px solid #f1693c;
  border-radius: 36px;*/
}

.intro-diamond2 {
  text-align: right;
  margin-bottom: 15px;

  border: 3px solid #f1693c;
  border-radius: 100%;
}

.lp-search {
	width: 200px;
	margin-top:15px;
}

.s2-chal {
	width: 200px;
}

/*0e91a1  - navbar/blue
146c78  - navbar_active/blue
f1693c  - unlock_button/orange
d9edf7  - unlock_panel/blue

B6D556  - content1/green
4CBCB5  - content2/blue
FCB813  - content3/orange
*/