// Place all the styles related to the ignindices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.body-object {
	padding-top: 30px;
}

.not-validated {
	color: red;
}

.validated {
	color: green;	
}