// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.profile-top-margin {
	margin-top: 0px;
}

.absolute-margin {
	margin-top: 150px;
}

.setup-background {
	background-color: #0E91A1;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 150px;
	position: absolute;
  	left: 0;

 	width: 100%;
}


.setup-background h1 {
	color: #FFF;	
}

.setup-labels {
	color: #FFF;
}

.box-select {
  background: url("setup_bar.png") no-repeat scroll 0px 0px transparent; 
  width: 22px;
  height: 22px;
}

.box-check {
  background: url("setup_bar.png") no-repeat scroll 0px -22px transparent;
  width: 22px;
  height: 22px; 
}

.box-uncheck {
  background: url("setup_bar.png") no-repeat scroll 0px -44px transparent;
  width: 22px;
  height: 22px; 
}

.breadcrumb-trail {
     color: #fff;
    display: inline-block;
    padding: 30px 11px 0;
    width: 560px;
}

.breadcrumbs {
      background: url("setup_bar.png") repeat-x scroll 0 -88px rgba(0, 0, 0, 0);
    display: inline-table;
    margin: 0;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.breadcrumb-cell {
    display: table-cell;
    height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 25%;
}

.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: -11px;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 22px;
}

.breadcrumb-label {
    display: block;
    left: -59px;
    position: absolute;
    text-align: center;
    top: -30px;
    white-space: nowrap;
    width: 140px;
}

.breadcrumb-icon {
    background: url("setup_bar.png") repeat scroll 0 -44px rgba(0, 0, 0, 0);
    height: 22px;
    width: 22px;
}

.last {
    width: 0;
}

.breadcrumb.checked .breadcrumb-icon {
    background: url("setup_bar.png") repeat scroll 0 -22px rgba(0, 0, 0, 0);
}

.breadcrumb.active .breadcrumb-icon {
    background: url("setup_bar.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.breadcrumb .active {
    color: #e2e2e2;
}
