#leaderboard {
  background: url("front-cover4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.leaderbox {
  background: rgba(225, 225, 225, 0.75) none repeat scroll 0% 0%;
  color: black;
}

.coupon-image {
	font-family: domine;

	border: 1px solid;
	border-radius: 0px ;
	/*width:350px;*/
	/*height: 150px;*/
	margin-top: 15px;
	margin-bottom: 15px;
}

.coupon-box {
	border: 2px solid;
	border-radius: 18px;
	border-color: #D43F28;
}

.prize-well {
  min-height: 20px;
  padding: 19px;
  margin: 0px 0px 20px 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
/*
	background: url("lol-victory2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.background-history {
  margin-bottom: 50px;
  background: url("lol-victory2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-history2 {
  margin-bottom: 0px;
  background: url("lol-victory2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prize-well-inside {
	background: rgba(22, 22, 22, 0.75) none repeat scroll 0% 0%;

  min-height: 20px;
  padding: 19px;
  /*margin: 0px 25px 20px 25px;*/
  /*background-color: #f5f5f5;*/
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.prize-well-inside h1 {
	margin: 5px 0px 5px 0px;
}

.prize-panel {
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgba(22, 22, 22, 0.75) none repeat scroll 0% 0%;
  /*background-color: #fff;*/
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.prize-panel-body {
  padding: 15px;
}
.prize-panel-heading {
	background-color: #D43F28;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.prize-panel-heading h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.see-me {
	opacity: 1.0;
}

.reward-logo {
	border: 1px solid;
	background-color: #F0EFEA;

	height: 100px;
	width: 120px;
	/*position: relative;*/

}

.achievement-board {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-left: solid 18px #58b258;
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	border-right: solid 1px #CCC;
	margin-bottom: 0px;
}

.basic-border {
	/*font-family: domine;*/

	border: 1px solid;
	border-radius: 25px ;
}

.hist-image {
	border: 2px solid;
	border-radius: 25px ;
	border-color: #D43F28;
}

.btn-ldisabled {
  color: #fff;
  background-color: #7f7e7e;
  border-color: #7f7e7e;
}
.btn-ldisabled:hover,
.btn-ldisabled:focus,
.btn-ldisabled.focus,
.btn-ldisabled:active,
.btn-ldisabled.active,
.open > .dropdown-toggle.btn-ldisabled {
  color: #7f7e7e;
  background-color: #7f7e7e;
  border-color: #7f7e7e;
}
.btn-ldisabled:active,
.btn-ldisabled.active,
.open > .dropdown-toggle.btn-ldisabled {
  background-image: none;
}
.btn-ldisabled.disabled,
.btn-ldisabled[disabled],
fieldset[disabled] .btn-ldisabled,
.btn-ldisabled.disabled:hover,
.btn-ldisabled[disabled]:hover,
fieldset[disabled] .btn-ldisabled:hover,
.btn-ldisabled.disabled:focus,
.btn-ldisabled[disabled]:focus,
fieldset[disabled] .btn-ldisabled:focus,
.btn-ldisabled.disabled.focus,
.btn-ldisabled[disabled].focus,
fieldset[disabled] .btn-ldisabled.focus,
.btn-ldisabled.disabled:active,
.btn-ldisabled[disabled]:active,
fieldset[disabled] .btn-ldisabled:active,
.btn-ldisabled.disabled.active,
.btn-ldisabled[disabled].active,
fieldset[disabled] .btn-ldisabled.active {
  background-color: #7f7e7e;
  border-color: #7f7e7e;
}
.btn-ldisabled .badge {
  color: #7f7e7e;
  background-color: #7f7e7e;
}