// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stats-spinner {
	
	margin-left: 50px;
	margin-top: 15px;
}

.profile-box {
	background-image: linear-gradient(to bottom, #0A636E 0px, #e8e8e8 150%);
}

.profile-picture {
	border: 2px solid;
	border-color: gold;
}

.spelling-name {
	
	color: red;
}

.tony-image {
	border: 2px solid;
	border-radius: 25px ;
}

.start-game-button {
	margin-top: 0px;
	width: 500px;	
	height: 100px;
}

.cancel-game-button {
	width: 500px;	
}

.start-game-button-inactive {
	margin-top: 0px;
	width: 500px;	
	height: 100px;
	background-color: grey;
}

.finish-button {
	width: 300px;
}


.new-challenge {
	margin-top: 0px;
}

.new-challenge-head {
	margin-bottom: 10px;
}

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.challenge-history-default {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-right: solid 1px #CCC;
	margin-bottom: 0px;
}

.challenge-history-win {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-left: solid 18px #58b258;
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	border-right: solid 1px #CCC;
	margin-bottom: 0px;
}

.challenge-history-loss {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-left: solid 18px #cf4640;
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	border-right: solid 1px #CCC;
	margin-bottom: 0px;
}

.challenge-history-running {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-left: solid 18px #FFA414;
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	border-right: solid 1px #CCC;
	margin-bottom: 0px;
}

.challenge-description {
	border-left: solid 1px #CCC;
	text-align: center;
	font-size: 14px;
	padding: 5px 0 0 0px;
}

.challenge-summoner {
	padding: 5px 0 0 5px;
	font-size: 16px;	
}

.challenge-errors {
	color: red;
}

.prize-offer {
	padding: 50px 0 0 0px;
}

.big-button {
	width: 300px;
	height: 200px;
	font-size: 30px;
}

.roll-button {
	width: 300px;
	height: 100px;
	font-size: 55px;
}


.on-roll {
	background-color: red;	
}

.top-page {
	margin-top: 70px;
}

.hovering-text {
	margin-top: 30px;
}

.hovering-text2 {
	margin-top: 50px;
}

.indent-list-1 li {
	margin-left: 2em;
}