<footer class="footer"> 
  	<div class="">

  		<nav class="navbar navbar-inverse navbar-bottom no-border" style="margin-bottom: 0px; border-radius: 0px;" role="navigation">
  			<div class="container">
	  			<ul class="nav navbar-nav list-inline col-xs-6 col-sm-6 text-center">		
					<li class="custom-footer"><a href="/about">About</a></li>
					<li class="custom-footer"><a href="/faq">FAQ</a></li>
					<li class="custom-footer"><a href="/contact">Contact</a></li>
					<li class="custom-footer"><a href="/privacy">Privacy</a></li>
				</ul>
				<ul class="nav navbar-nav col-xs-auto col-sm-3 list-unstyled navbar-right">
					<li><a href="https://www.facebook.com/pages/illBePro/398138583682058"><i class="fa fa-facebook-square fa-2x"></i></a></li>
					<li class=""><a href="#">illBePro Copyright (c) 2015</p></a></li>
				</ul>
  			</div>

  			<div class="container">
	  			<p class="text-center" style="color: grey;">illbepro is not endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. </p>				
  			</div>
  
		</nav>

  	</div>
</footer>