<nav class="navbar navbar-ltheme navbar-fixed-top no-border" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><strong>i'llBePro</strong></a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/leaderboard">LeaderBoard</a></li>
                <li><a href="/scores">Prizes</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
			<% if user_signed_in? %>
				<li><%= button_to "Log Out", logout_path, :class => "btn btn-danger navbar-btn col-sm-offset-0", :method => :get  %></li>
			<% else %>
            	<li><a href="/register">Sign up</a></li>
				<li>
			        <form action="/login" class="button_to" method="get">
			            <div>
			            	<input class="btn btn-lprimary navbar-btn" type="submit" value="Log in" />
			            </div>
			        </form>
            	</li>	            	
			<% end %>
			</ul>
		</div>
	</div>
</nav>